/* vars */

:root {
  --main-opacity: 0.6;
}

/* --- Reset --- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* --- Popup --- */

.popup {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height:400px;
  font-family: 'NotoSans', Helvetica, sans-serif;
  color: rgba(255, 255, 255, var(--main-opacity));
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.popup__header {
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 1px 5px #75757536;
}

.popup__main {
  width: 100%;
  height: 100%;
}

.popup__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  margin: 0;
  background: #001e2b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.background-blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  opacity: 0.8;
  z-index: 0;
}

.container > *:not(.background-blur-layer) {
  position: relative;
  z-index: 1;
}

.background-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  padding: 10px;
}

.background-selector button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-circle {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#timer-circle-controls {
  position: absolute;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 143%;
  top: 45%;
  left: -43px;
}

#timer-circle-controls.visible {
  display: flex;
}

#timer-circle-controls button {
  color: #fff;
}


svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 2;
  stroke: rgba(255, 255, 255, var(--main-opacity));
}

#progress {
  stroke: rgba(255, 255, 255, 1);
  stroke-dasharray: 565.48;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

#time-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#control-btn {
  width: 89px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controls button {
  height: 36px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: inherit;
}

.controls #reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  padding: 7px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

#reset-btn.active {
  color: inherit;
}

.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: rgba(255, 255, 255, var(--main-opacity));
}

.bottom-panel button {
  width: 32px;
  height: 32px;
  color: inherit;
}

#sound-toggle {
  background: none;
  border: none;
  cursor: pointer;
  transform: rotate(90deg);
}

#settings-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-right,
.arrow-left {
  width: 12px;
  height: 12px;
  border-top: 2px solid rgba(255, 255, 255, var(--main-opacity));
  border-left: 2px solid rgba(255, 255, 255, var(--main-opacity));
}

.arrow-right {
 transform: rotate(135deg);
}

.arrow-left {
transform: rotate(-45deg);
}
